# P07- Implémanter un modèle de scoring : notebook de prétraitment des données

- **Dans ce notebook on se focalise sur le prétraitment des donnnées avant la modélisation.** 
- Ceci consiste notamment à :
    - Créer des feature métier 
    - Encoder des variables catégorielles 
    - Fusionner les data frame 
    - Imputer les valeurr manquantes 
    - Selectionner les variables selon leur variance et la corrélation entre elle 
- Pour le prétraitment on s'est inspiré de ce [kernel](https://www.kaggle.com/jsaguiar/lightgbm-with-simple-features) sur le KAAGLE.

### Sommaire 
- **1.Importer les librairies utiles** 
- **2.Définition de functions pour le prétraitment des données** 
    - 2.1 Preprocess « application_train » & « application_test »
    - 2.2 Preprocess « bureau » & « bureau_balance »
    - 2.3 Preprocess « previsous_application»
    - 2.4 Preprocess « pos_cash_balance »
    - 2.5 Preprocess « installments_payments »
    - 2.6. Preprocess « credit_card_balance »
- **3. Création de dataframe final en fusionnant les tables**
- **4. Nettoyage des données**
- **5. Feature selection**
- **6. Imputation des valeur manquantes**
- **7. Exportation de dataframe fianl

# 1. Importer les librairies

In [1]:
import numpy as np
import pandas as pd
import gc
import time
from contextlib import contextmanager
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)


from sklearn.preprocessing import LabelEncoder, OneHotEncoder, RobustScaler, MinMaxScaler, StandardScaler

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

# 2. Définition de functions pour le prétraitment des données

In [2]:
# HOME CREDIT DEFAULT RISK COMPETITION
# Most features are created by applying min, max, mean, sum and var functions to grouped tables. 
# Little feature selection is done and overfitting might be a problem since many features are related.
# The following key ideas were used:
# - Divide or subtract important features to get rates (like annuity and income)
# - In Bureau Data: create specific features for Active credits and Closed credits
# - In Previous Applications: create specific features for Approved and Refused applications
# - Modularity: one function for each table (except bureau_balance and application_test)
# - One-hot encoding for categorical features
# All tables are joined with the application DF using the SK_ID_CURR key (except bureau_balance).

def cut_cols (data, n):
    """
    To cut columns that exceed a certain amount of missing values
    args : 
        data : Pandas dataframe
        n: percentage of filling value (0<n<1)
    return :
        data : Pandas dataframe containing columns which filling amount exceed n
    
    """
    
    data = data[data.columns[(data.isna().mean()) < n]]

    return data

#########################################################################################################################

def cut_rows (data , n) :

    """
    To cut rows that exceed a certain percentage of missing values
    args : 
        data : Pandas dataframe
        n: percentage of NaN values per row (0<n<1)
    return: 
        data : Pandas dataframe containing rows which filling amount exceed ning rows which NaN amount do not
        exceed n
    """
    data = data [(data.isnull().sum(axis=1)/data.shape[1]) < n]
    return data

##########################################################################################################################

@contextmanager
def timer(title):
    t0 = time.time()
    yield
    print("{} - done in {:.0f}s".format(title, time.time() - t0))
    
##########################################################################################################################

# One-hot encoding for categorical columns with get_dummies
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

## 2.1 Preprocess « application_train.csv » & « application_test.csv »

In [3]:
def application_train_test(num_rows = None, nan_as_category = False):
    # Read data and merge
    df = pd.read_csv(r"C:\Users\faeze\OneDrive\Documents\OC data science\PROJECT\Projet 7\Projet+Mise+en+prod+-+home-credit-default-risk\application_train.csv", nrows= num_rows)
    test_df = pd.read_csv(r'C:\Users\faeze\OneDrive\Documents\OC data science\PROJECT\Projet 7\Projet+Mise+en+prod+-+home-credit-default-risk\application_test.csv', nrows= num_rows)
    print("Train samples: {}, test samples: {}".format(len(df), len(test_df)))
    df = df.append(test_df).reset_index()
    # Optional: Remove 4 applications with XNA CODE_GENDER (train set)
    df = df[df['CODE_GENDER'] != 'XNA']
    
    # Categorical features with Binary encode (0 or 1; two categories)
    for bin_feature in ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']:
        df[bin_feature], uniques = pd.factorize(df[bin_feature])
    # Categorical features with One-Hot encode
    df, cat_cols = one_hot_encoder(df, nan_as_category)
    
    # NaN values for DAYS_EMPLOYED: 365.243 -> nan
    df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace= True)
    # Some simple new features (percentages)
    df['DAYS_EMPLOYED_PERC'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']
    df['INCOME_CREDIT_PERC'] = df['AMT_INCOME_TOTAL'] / df['AMT_CREDIT']
    df['INCOME_PER_PERSON'] = df['AMT_INCOME_TOTAL'] / df['CNT_FAM_MEMBERS']
    df['ANNUITY_INCOME_PERC'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']
    df['PAYMENT_RATE'] = df['AMT_ANNUITY'] / df['AMT_CREDIT']
    del test_df
    gc.collect()
    return df

In [4]:
application_train_test(num_rows = None, nan_as_category = False)

Train samples: 307511, test samples: 48744

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC,INCOME_PER_PERSON,ANNUITY_INCOME_PERC,PAYMENT_RATE
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0,1,0,1,0,0.067329,0.498036,202500.0,0.121978,0.060749
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0,0,0,1,0,0.070862,0.208736,135000.0,0.132217,0.027598
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0.011814,0.500000,67500.0,0.100000,0.050000
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0.159905,0.431748,67500.0,0.219900,0.094941
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0.152418,0.236842,121500.0,0.179963,0.042623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,48739,456221,NaN,1,0,0,0,121500.0,412560.0,17473.5,...,0,0,0,0,0,0.258838,0.294503,121500.0,0.143815,0.042354
356251,48740,456222,NaN,1,0,1,2,157500.0,622413.0,31909.5,...,0,0,0,0,0,0.102718,0.253047,39375.0,0.202600,0.051267
356252,48741,456223,NaN,1,1,0,1,202500.0,315000.0,33205.5,...,0,1,0,1,0,0.190742,0.642857,67500.0,0.163978,0.105414
356253,48742,456224,NaN,0,0,1,0,225000.0,450000.0,25128.0,...,1,0,0,1,0,0.195518,0.500000,112500.0,0.111680,0.055840
356254,48743,456250,NaN,1,1,1,0,135000.0,312768.0,24709.5,...,0,0,0,0,0,0.045337,0.431630,67500.0,0.183033,0.079003

# 2.2 Preprocess « bureau » & « bureau_balance »

In [5]:
# Preprocess bureau.csv and bureau_balance.csv
def bureau_and_balance(num_rows = None, nan_as_category = True):
    bureau = pd.read_csv(r"C:\Users\faeze\OneDrive\Documents\OC data science\PROJECT\Projet 7\Projet+Mise+en+prod+-+home-credit-default-risk\bureau.csv", nrows = num_rows)
    bb = pd.read_csv(r"C:\Users\faeze\OneDrive\Documents\OC data science\PROJECT\Projet 7\Projet+Mise+en+prod+-+home-credit-default-risk\bureau_balance.csv", nrows = num_rows)
    bb, bb_cat = one_hot_encoder(bb, nan_as_category)
    bureau, bureau_cat = one_hot_encoder(bureau, nan_as_category)
    
    # Bureau balance: Perform aggregations and merge with bureau.csv
    bb_aggregations = {'MONTHS_BALANCE': ['min', 'max', 'size']}
    for col in bb_cat:
        bb_aggregations[col] = ['mean']
    bb_agg = bb.groupby('SK_ID_BUREAU').agg(bb_aggregations)
    bb_agg.columns = pd.Index([e[0] + "_" + e[1].upper() for e in bb_agg.columns.tolist()])
    bureau = bureau.join(bb_agg, how='left', on='SK_ID_BUREAU')
    bureau.drop(['SK_ID_BUREAU'], axis=1, inplace= True)
    del bb, bb_agg
    gc.collect()
    
    # Bureau and bureau_balance numeric features
    num_aggregations = {
        'DAYS_CREDIT': ['min', 'max', 'mean', 'var'],
        'DAYS_CREDIT_ENDDATE': ['min', 'max', 'mean'],
        'DAYS_CREDIT_UPDATE': ['mean'],
        'CREDIT_DAY_OVERDUE': ['max', 'mean'],
        'AMT_CREDIT_MAX_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_DEBT': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM_LIMIT': ['mean', 'sum'],
        'AMT_ANNUITY': ['max', 'mean'],
        'CNT_CREDIT_PROLONG': ['sum'],
        'MONTHS_BALANCE_MIN': ['min'],
        'MONTHS_BALANCE_MAX': ['max'],
        'MONTHS_BALANCE_SIZE': ['mean', 'sum']
    }
    # Bureau and bureau_balance categorical features
    cat_aggregations = {}
    for cat in bureau_cat: cat_aggregations[cat] = ['mean']
    for cat in bb_cat: cat_aggregations[cat + "_MEAN"] = ['mean']
    
    bureau_agg = bureau.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
    bureau_agg.columns = pd.Index(['BURO_' + e[0] + "_" + e[1].upper() for e in bureau_agg.columns.tolist()])
    # Bureau: Active credits - using only numerical aggregations
    active = bureau[bureau['CREDIT_ACTIVE_Active'] == 1]
    active_agg = active.groupby('SK_ID_CURR').agg(num_aggregations)
    active_agg.columns = pd.Index(['ACTIVE_' + e[0] + "_" + e[1].upper() for e in active_agg.columns.tolist()])
    bureau_agg = bureau_agg.join(active_agg, how='left', on='SK_ID_CURR')
    del active, active_agg
    gc.collect()
    # Bureau: Closed credits - using only numerical aggregations
    closed = bureau[bureau['CREDIT_ACTIVE_Closed'] == 1]
    closed_agg = closed.groupby('SK_ID_CURR').agg(num_aggregations)
    closed_agg.columns = pd.Index(['CLOSED_' + e[0] + "_" + e[1].upper() for e in closed_agg.columns.tolist()])
    bureau_agg = bureau_agg.join(closed_agg, how='left', on='SK_ID_CURR')
    del closed, closed_agg, bureau
    gc.collect()
    return bureau_agg

In [6]:
bureau_and_balance(num_rows = None, nan_as_category = True)

,BURO_DAYS_CREDIT_MIN,BURO_DAYS_CREDIT_MAX,BURO_DAYS_CREDIT_MEAN,BURO_DAYS_CREDIT_VAR,BURO_DAYS_CREDIT_ENDDATE_MIN,BURO_DAYS_CREDIT_ENDDATE_MAX,BURO_DAYS_CREDIT_ENDDATE_MEAN,BURO_DAYS_CREDIT_UPDATE_MEAN,BURO_CREDIT_DAY_OVERDUE_MAX,BURO_CREDIT_DAY_OVERDUE_MEAN,...,CLOSED_AMT_CREDIT_SUM_OVERDUE_MEAN,CLOSED_AMT_CREDIT_SUM_LIMIT_MEAN,CLOSED_AMT_CREDIT_SUM_LIMIT_SUM,CLOSED_AMT_ANNUITY_MAX,CLOSED_AMT_ANNUITY_MEAN,CLOSED_CNT_CREDIT_PROLONG_SUM,CLOSED_MONTHS_BALANCE_MIN_MIN,CLOSED_MONTHS_BALANCE_MAX_MAX,CLOSED_MONTHS_BALANCE_SIZE_MEAN,CLOSED_MONTHS_BALANCE_SIZE_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-1572,-49,-735.000000,240043.666667,-1329.0,1778.0,82.428571,-93.142857,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-51.0,0.0,35.000000,140.0
100002,-1437,-103,-874.000000,186150.000000,-1072.0,780.0,-349.000000,-499.875000,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-47.0,0.0,15.000000,90.0
100003,-2586,-606,-1400.750000,827783.583333,-2434.0,1216.0,-544.500000,-816.000000,0,0.0,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
100004,-1326,-408,-867.000000,421362.000000,-595.0,-382.0,-488.500000,-532.000000,0,0.0,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
100005,-373,-62,-190.666667,26340.333333,-128.0,1324.0,439.333333,-54.333333,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-12.0,0.0,13.000000,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456249,-2713,-483,-1667.076923,407302.243590,-2499.0,1363.0,-1232.333333,-1064.538462,0,0.0,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0
456250,-1002,-760,-862.000000,15724.000000,-272.0,2340.0,1288.333333,-60.333333,0,0.0,...,0.0,0.0,0.0,384147.0,384147.0,0.0,-32.0,0.0,33.000000,33.0
456253,-919,-713,-867.500000,10609.000000,-189.0,1113.0,280.500000,-253.250000,0,0.0,...,0.0,0.0,0.0,58369.5,58369.5,0.0,-30.0,0.0,31.000000,62.0
456254,-1104,-1104,-1104.000000,NaN,-859.0,-859.0,-859.000000,-401.000000,0,0.0,...,0.0,NaN,0.0,0.0,0.0,0.0,-36.0,0.0,37.000000,37.0
456255,-2337,-363,-1089.454545,502786.672727,-1243.0,27320.0,3231.272727,-531.090909,0,0.0,...,0.0,0.0,0.0,3244.5,1297.8,1.0,-76.0,0.0,33.333333,200.0

##  2.3 Preprocess « previsous_application»

In [7]:
# Preprocess previous_applications.csv
def previous_applications(num_rows = None, nan_as_category = True):
    prev = pd.read_csv(r"C:\Users\faeze\OneDrive\Documents\OC data science\PROJECT\Projet 7\Projet+Mise+en+prod+-+home-credit-default-risk\previous_application.csv", nrows = num_rows)
    prev, cat_cols = one_hot_encoder(prev, nan_as_category= True)
    # Days 365.243 values -> nan
    prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
    prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
    prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
    prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
    prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)
    # Add feature: value ask / value received percentage
    prev['APP_CREDIT_PERC'] = prev['AMT_APPLICATION'] / prev['AMT_CREDIT']
    # Previous applications numeric features
    num_aggregations = {
        'AMT_ANNUITY': ['min', 'max', 'mean'],
        'AMT_APPLICATION': ['min', 'max', 'mean'],
        'AMT_CREDIT': ['min', 'max', 'mean'],
        'APP_CREDIT_PERC': ['min', 'max', 'mean', 'var'],
        'AMT_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'AMT_GOODS_PRICE': ['min', 'max', 'mean'],
        'HOUR_APPR_PROCESS_START': ['min', 'max', 'mean'],
        'RATE_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'DAYS_DECISION': ['min', 'max', 'mean'],
        'CNT_PAYMENT': ['mean', 'sum'],
    }
    # Previous applications categorical features
    cat_aggregations = {}
    for cat in cat_cols:
        cat_aggregations[cat] = ['mean']
    
    prev_agg = prev.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
    prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])
    # Previous Applications: Approved Applications - only numerical features
    approved = prev[prev['NAME_CONTRACT_STATUS_Approved'] == 1]
    approved_agg = approved.groupby('SK_ID_CURR').agg(num_aggregations)
    approved_agg.columns = pd.Index(['APPROVED_' + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()])
    prev_agg = prev_agg.join(approved_agg, how='left', on='SK_ID_CURR')
    # Previous Applications: Refused Applications - only numerical features
    refused = prev[prev['NAME_CONTRACT_STATUS_Refused'] == 1]
    refused_agg = refused.groupby('SK_ID_CURR').agg(num_aggregations)
    refused_agg.columns = pd.Index(['REFUSED_' + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()])
    prev_agg = prev_agg.join(refused_agg, how='left', on='SK_ID_CURR')
    del refused, refused_agg, approved, approved_agg, prev
    gc.collect()
    return prev_agg

In [8]:
previous_applications(num_rows = None, nan_as_category = True)

,PREV_AMT_ANNUITY_MIN,PREV_AMT_ANNUITY_MAX,PREV_AMT_ANNUITY_MEAN,PREV_AMT_APPLICATION_MIN,PREV_AMT_APPLICATION_MAX,PREV_AMT_APPLICATION_MEAN,PREV_AMT_CREDIT_MIN,PREV_AMT_CREDIT_MAX,PREV_AMT_CREDIT_MEAN,PREV_APP_CREDIT_PERC_MIN,...,REFUSED_HOUR_APPR_PROCESS_START_MAX,REFUSED_HOUR_APPR_PROCESS_START_MEAN,REFUSED_RATE_DOWN_PAYMENT_MIN,REFUSED_RATE_DOWN_PAYMENT_MAX,REFUSED_RATE_DOWN_PAYMENT_MEAN,REFUSED_DAYS_DECISION_MIN,REFUSED_DAYS_DECISION_MAX,REFUSED_DAYS_DECISION_MEAN,REFUSED_CNT_PAYMENT_MEAN,REFUSED_CNT_PAYMENT_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,3951.000,3951.000,3951.000000,24835.5,24835.5,24835.500,23787.0,23787.0,23787.00,1.044079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100002,9251.775,9251.775,9251.775000,179055.0,179055.0,179055.000,179055.0,179055.0,179055.00,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100003,6737.310,98356.995,56553.990000,68809.5,900000.0,435436.500,68053.5,1035882.0,484191.00,0.868825,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100004,5357.250,5357.250,5357.250000,24282.0,24282.0,24282.000,20106.0,20106.0,20106.00,1.207699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100005,4813.200,4813.200,4813.200000,0.0,44617.5,22308.750,0.0,40153.5,20076.75,1.111173,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,6605.910,6605.910,6605.910000,40455.0,40455.0,40455.000,40455.0,40455.0,40455.00,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456252,10074.465,10074.465,10074.465000,57595.5,57595.5,57595.500,56821.5,56821.5,56821.50,1.013622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456253,3973.095,5567.715,4770.405000,19413.0,28912.5,24162.750,13945.5,27306.0,20625.75,1.058833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456254,2296.440,19065.825,10681.132500,18846.0,223789.5,121317.750,21456.0,247423.5,134439.75,0.878356,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456255,2250.000,54022.140,20775.391875,45000.0,1170000.0,362770.875,45000.0,1271929.5,424431.00,0.716332,...,14.0,14.0,NaN,NaN,NaN,-456.0,-171.0,-313.5,30.0,60.0

## 2.4 Preprocess « pos_cash_balance »

In [9]:
# Preprocess POS_CASH_balance.csv
def pos_cash(num_rows = None, nan_as_category = True):
    pos = pd.read_csv(r"C:\Users\faeze\OneDrive\Documents\OC data science\PROJECT\Projet 7\Projet+Mise+en+prod+-+home-credit-default-risk\POS_CASH_balance.csv", nrows = num_rows)
    pos, cat_cols = one_hot_encoder(pos, nan_as_category= True)
    # Features
    aggregations = {
        'MONTHS_BALANCE': ['max', 'mean', 'size'],
        'SK_DPD': ['max', 'mean'],
        'SK_DPD_DEF': ['max', 'mean']
    }
    for cat in cat_cols:
        aggregations[cat] = ['mean']
    
    pos_agg = pos.groupby('SK_ID_CURR').agg(aggregations)
    pos_agg.columns = pd.Index(['POS_' + e[0] + "_" + e[1].upper() for e in pos_agg.columns.tolist()])
    # Count pos cash accounts
    pos_agg['POS_COUNT'] = pos.groupby('SK_ID_CURR').size()
    del pos
    gc.collect()
    return pos_agg

In [10]:
pos_cash(num_rows = None, nan_as_category = True)

,POS_MONTHS_BALANCE_MAX,POS_MONTHS_BALANCE_MEAN,POS_MONTHS_BALANCE_SIZE,POS_SK_DPD_MAX,POS_SK_DPD_MEAN,POS_SK_DPD_DEF_MAX,POS_SK_DPD_DEF_MEAN,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Amortized debt_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_nan_MEAN,POS_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,
100001,-53,-72.555556,9,7,0.777778,7,0.777778,0.777778,0.0,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0,9
100002,-1,-10.000000,19,0,0.000000,0,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0,19
100003,-18,-43.785714,28,0,0.000000,0,0.000000,0.928571,0.0,0.0,0.0,0.071429,0.0,0.0,0.000000,0.0,0,28
100004,-24,-25.500000,4,0,0.000000,0,0.000000,0.750000,0.0,0.0,0.0,0.250000,0.0,0.0,0.000000,0.0,0,4
100005,-15,-20.000000,11,0,0.000000,0,0.000000,0.818182,0.0,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,-1,-5.000000,9,0,0.000000,0,0.000000,0.777778,0.0,0.0,0.0,0.111111,0.0,0.0,0.111111,0.0,0,9
456252,-76,-79.000000,7,0,0.000000,0,0.000000,0.857143,0.0,0.0,0.0,0.142857,0.0,0.0,0.000000,0.0,0,7
456253,-57,-79.235294,17,5,0.294118,5,0.294118,0.882353,0.0,0.0,0.0,0.117647,0.0,0.0,0.000000,0.0,0,17
456254,-1,-5.550000,20,0,0.000000,0,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0,20
456255,-2,-16.408451,71,5,0.070423,5,0.070423,0.915493,0.0,0.0,0.0,0.084507,0.0,0.0,0.000000,0.0,0,71

## 2.5 Preprocess « installments_payments »

In [11]:
# Preprocess installments_payments.csv
def installments_payments(num_rows = None, nan_as_category = True):
    ins = pd.read_csv(r"C:\Users\faeze\OneDrive\Documents\OC data science\PROJECT\Projet 7\Projet+Mise+en+prod+-+home-credit-default-risk\installments_payments.csv", nrows = num_rows)
    ins, cat_cols = one_hot_encoder(ins, nan_as_category= True)
    # Percentage and difference paid in each installment (amount paid and installment value)
    ins['PAYMENT_PERC'] = ins['AMT_PAYMENT'] / ins['AMT_INSTALMENT']
    ins['PAYMENT_DIFF'] = ins['AMT_INSTALMENT'] - ins['AMT_PAYMENT']
    # Days past due and days before due (no negative values)
    ins['DPD'] = ins['DAYS_ENTRY_PAYMENT'] - ins['DAYS_INSTALMENT']
    ins['DBD'] = ins['DAYS_INSTALMENT'] - ins['DAYS_ENTRY_PAYMENT']
    ins['DPD'] = ins['DPD'].apply(lambda x: x if x > 0 else 0)
    ins['DBD'] = ins['DBD'].apply(lambda x: x if x > 0 else 0)
    # Features: Perform aggregations
    aggregations = {
        'NUM_INSTALMENT_VERSION': ['nunique'],
        'DPD': ['max', 'mean', 'sum'],
        'DBD': ['max', 'mean', 'sum'],
        'PAYMENT_PERC': ['max', 'mean', 'sum', 'var'],
        'PAYMENT_DIFF': ['max', 'mean', 'sum', 'var'],
        'AMT_INSTALMENT': ['max', 'mean', 'sum'],
        'AMT_PAYMENT': ['min', 'max', 'mean', 'sum'],
        'DAYS_ENTRY_PAYMENT': ['max', 'mean', 'sum']
    }
    for cat in cat_cols:
        aggregations[cat] = ['mean']
    ins_agg = ins.groupby('SK_ID_CURR').agg(aggregations)
    ins_agg.columns = pd.Index(['INSTAL_' + e[0] + "_" + e[1].upper() for e in ins_agg.columns.tolist()])
    # Count installments accounts
    ins_agg['INSTAL_COUNT'] = ins.groupby('SK_ID_CURR').size()
    del ins
    gc.collect()
    return ins_agg

In [12]:
installments_payments(num_rows = None, nan_as_category = True)

,INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE,INSTAL_DPD_MAX,INSTAL_DPD_MEAN,INSTAL_DPD_SUM,INSTAL_DBD_MAX,INSTAL_DBD_MEAN,INSTAL_DBD_SUM,INSTAL_PAYMENT_PERC_MAX,INSTAL_PAYMENT_PERC_MEAN,INSTAL_PAYMENT_PERC_SUM,...,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_AMT_PAYMENT_MAX,INSTAL_AMT_PAYMENT_MEAN,INSTAL_AMT_PAYMENT_SUM,INSTAL_DAYS_ENTRY_PAYMENT_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MEAN,INSTAL_DAYS_ENTRY_PAYMENT_SUM,INSTAL_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,2,11.0,1.571429,11.0,36.0,8.857143,62.0,1.00000,1.000000,7.000000,...,5885.132143,41195.925,3951.000,17397.900,5885.132143,41195.925,-1628.0,-2195.000000,-15365.0,7
100002,2,0.0,0.000000,0.0,31.0,20.421053,388.0,1.00000,1.000000,19.000000,...,11559.247105,219625.695,9251.775,53093.745,11559.247105,219625.695,-49.0,-315.421053,-5993.0,19
100003,2,0.0,0.000000,0.0,14.0,7.160000,179.0,1.00000,1.000000,25.000000,...,64754.586000,1618864.650,6662.970,560835.360,64754.586000,1618864.650,-544.0,-1385.320000,-34633.0,25
100004,2,0.0,0.000000,0.0,11.0,7.666667,23.0,1.00000,1.000000,3.000000,...,7096.155000,21288.465,5357.250,10573.965,7096.155000,21288.465,-727.0,-761.666667,-2285.0,3
100005,2,1.0,0.111111,1.0,37.0,23.666667,213.0,1.00000,1.000000,9.000000,...,6240.205000,56161.845,4813.200,17656.245,6240.205000,56161.845,-470.0,-609.555556,-5486.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,2,0.0,0.000000,0.0,46.0,36.285714,254.0,1.00000,1.000000,7.000000,...,7492.924286,52450.470,6605.910,12815.010,7492.924286,52450.470,-38.0,-156.285714,-1094.0,7
456252,1,3.0,0.500000,3.0,11.0,3.333333,20.0,1.00000,1.000000,6.000000,...,10069.867500,60419.205,10046.880,10074.465,10069.867500,60419.205,-2327.0,-2393.833333,-14363.0,6
456253,1,9.0,0.642857,9.0,51.0,15.142857,212.0,1.00000,0.928571,13.000000,...,4399.707857,61595.910,27.270,5575.185,4115.915357,57622.815,-1738.0,-2387.428571,-33424.0,14
456254,1,0.0,0.000000,0.0,31.0,19.000000,361.0,1.00000,1.000000,19.000000,...,10239.832895,194556.825,2296.440,19065.825,10239.832895,194556.825,-18.0,-161.263158,-3064.0,19
456255,4,7.0,0.702703,52.0,35.0,8.770270,649.0,12.38847,1.033463,76.476278,...,41464.713649,3068388.810,34.965,669251.655,47646.215878,3525819.975,-76.0,-472.013514,-34929.0,74

## 2.6. Preprocess « credit_card_balance »

In [13]:
# Preprocess credit_card_balance.csv
def credit_card_balance(num_rows = None, nan_as_category = True):
    cc = pd.read_csv(r"C:\Users\faeze\OneDrive\Documents\OC data science\PROJECT\Projet 7\Projet+Mise+en+prod+-+home-credit-default-risk\credit_card_balance.csv", nrows = num_rows)
    cc, cat_cols = one_hot_encoder(cc, nan_as_category= True)
    # General aggregations
    cc.drop(['SK_ID_PREV'], axis= 1, inplace = True)
    cc_agg = cc.groupby('SK_ID_CURR').agg(['min', 'max', 'mean', 'sum', 'var'])
    cc_agg.columns = pd.Index(['CC_' + e[0] + "_" + e[1].upper() for e in cc_agg.columns.tolist()])
    # Count credit card lines
    cc_agg['CC_COUNT'] = cc.groupby('SK_ID_CURR').size()
    del cc
    gc.collect()
    return cc_agg

In [14]:
credit_card_balance(num_rows = None, nan_as_category = True)

,CC_MONTHS_BALANCE_MIN,CC_MONTHS_BALANCE_MAX,CC_MONTHS_BALANCE_MEAN,CC_MONTHS_BALANCE_SUM,CC_MONTHS_BALANCE_VAR,CC_AMT_BALANCE_MIN,CC_AMT_BALANCE_MAX,CC_AMT_BALANCE_MEAN,CC_AMT_BALANCE_SUM,CC_AMT_BALANCE_VAR,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100006,-6,-1,-3.5,-21,3.5,0.000,0.000,0.000000,0.000,0.000000e+00,...,0,0.0,0,0.0,0,0,0,0,0.0,6
100011,-75,-2,-38.5,-2849,462.5,0.000,189000.000,54482.111149,4031676.225,4.641321e+09,...,0,0.0,0,0.0,0,0,0,0,0.0,74
100013,-96,-1,-48.5,-4656,776.0,0.000,161420.220,18159.919219,1743352.245,1.869473e+09,...,0,0.0,0,0.0,0,0,0,0,0.0,96
100021,-18,-2,-10.0,-170,25.5,0.000,0.000,0.000000,0.000,0.000000e+00,...,0,0.0,0,0.0,0,0,0,0,0.0,17
100023,-11,-4,-7.5,-60,6.0,0.000,0.000,0.000000,0.000,0.000000e+00,...,0,0.0,0,0.0,0,0,0,0,0.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456244,-41,-1,-21.0,-861,143.5,0.000,453627.675,131834.730732,5405223.960,3.295703e+10,...,0,0.0,0,0.0,0,0,0,0,0.0,41
456246,-9,-2,-5.5,-44,6.0,0.000,43490.115,13136.731875,105093.855,3.335511e+08,...,0,0.0,0,0.0,0,0,0,0,0.0,8
456247,-96,-2,-49.0,-4655,760.0,0.000,190202.130,23216.396211,2205557.640,3.200871e+09,...,0,0.0,0,0.0,0,0,0,0,0.0,95
456248,-24,-2,-13.0,-299,46.0,0.000,0.000,0.000000,0.000,0.000000e+00,...,0,0.0,0,0.0,0,0,0,0,0.0,23
456250,-12,-1,-6.5,-78,13.0,153832.725,200208.915,173589.326250,2083071.915,1.667716e+08,...,0,0.0,0,0.0,0,0,0,0,0.0,12

 # 3. Création de dataframe final en fusionnant les tables

In [15]:
def main(debug = False, flag_train=True):
    num_rows = 10000 if debug else None
    df = application_train_test(num_rows)
    with timer("Process bureau and bureau_balance"):
        bureau = bureau_and_balance(num_rows)
        print("Bureau df shape:", bureau.shape)
        df = df.join(bureau, how='left', on='SK_ID_CURR')
        del bureau
        gc.collect()
    with timer("Process previous_applications"):
        prev = previous_applications(num_rows)
        print("Previous applications df shape:", prev.shape)
        df = df.join(prev, how='left', on='SK_ID_CURR')
        del prev
        gc.collect()
    with timer("Process POS-CASH balance"):
        pos = pos_cash(num_rows)
        print("Pos-cash balance df shape:", pos.shape)
        df = df.join(pos, how='left', on='SK_ID_CURR')
        del pos
        gc.collect()
    with timer("Process installments payments"):
        ins = installments_payments(num_rows)
        print("Installments payments df shape:", ins.shape)
        df = df.join(ins, how='left', on='SK_ID_CURR')
        del ins
        gc.collect()
    with timer("Process credit card balance"):
        cc = credit_card_balance(num_rows)
        print("Credit card balance df shape:", cc.shape)
        df = df.join(cc, how='left', on='SK_ID_CURR')
        del cc
        gc.collect()
    return df
data = main(debug=False)

Train samples: 307511, test samples: 48744
Bureau df shape: (305811, 116)
Process bureau and bureau_balance - done in 57s
Previous applications df shape: (338857, 249)
Process previous_applications - done in 62s
Pos-cash balance df shape: (337252, 18)
Process POS-CASH balance - done in 29s
Installments payments df shape: (339587, 26)
Process installments payments - done in 83s
Credit card balance df shape: (103558, 141)
Process credit card balance - done in 44s

In [16]:
data.shape

(356251, 798)

# 4. Nettoyage de données

In [17]:
# Vérifier les valeurs infinis
print("printing column name where infinity is present")
col_name = data.columns.to_series()[np.isinf(data).any()]
print(col_name)
print("printing row index with infinity ")  
r = data.index[np.isinf(data).any(1)]
print(r)
inf_index = data.columns.get_loc('INSTAL_PAYMENT_PERC_MAX')
data.iloc[5687,inf_index]

printing column name where infinity is present
PREV_APP_CREDIT_PERC_MAX            PREV_APP_CREDIT_PERC_MAX
PREV_APP_CREDIT_PERC_MEAN          PREV_APP_CREDIT_PERC_MEAN
REFUSED_APP_CREDIT_PERC_MAX      REFUSED_APP_CREDIT_PERC_MAX
REFUSED_APP_CREDIT_PERC_MEAN    REFUSED_APP_CREDIT_PERC_MEAN
INSTAL_PAYMENT_PERC_MAX              INSTAL_PAYMENT_PERC_MAX
INSTAL_PAYMENT_PERC_MEAN            INSTAL_PAYMENT_PERC_MEAN
INSTAL_PAYMENT_PERC_SUM              INSTAL_PAYMENT_PERC_SUM
dtype: object
printing row index with infinity
Int64Index([  5687,  60477,  79077,  89018,  98509, 126768, 128791, 140426,
            152087, 167136, 199103, 201086, 236164, 238381, 272829, 277962,
            287300, 292852, 305373, 310339],
           dtype='int64')

inf

In [18]:
#To replace infinity values with NaN
data = data.replace([np.inf, -np.inf], np.nan)
data = data.set_index('SK_ID_CURR')
#To check if there are duplicated columns
data = data.loc[:,~data.columns.duplicated()].copy()
data

,index,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,0,1.0,0,0,0,0,202500.0,406597.5,24700.5,351000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100003,1,0.0,1,0,1,0,270000.0,1293502.5,35698.5,1129500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100004,2,0.0,0,1,0,0,67500.0,135000.0,6750.0,135000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100006,3,0.0,1,0,0,0,135000.0,312682.5,29686.5,297000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
100007,4,0.0,0,0,0,0,121500.0,513000.0,21865.5,513000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,48739,NaN,1,0,0,0,121500.0,412560.0,17473.5,270000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456222,48740,NaN,1,0,1,2,157500.0,622413.0,31909.5,495000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456223,48741,NaN,1,1,0,1,202500.0,315000.0,33205.5,315000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456224,48742,NaN,0,0,1,0,225000.0,450000.0,25128.0,450000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456250,48743,NaN,1,1,1,0,135000.0,312768.0,24709.5,270000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0

In [19]:
# Valeur manquantes par variables 
missing = pd.DataFrame(data = data.isnull().mean()*100, columns=['% missing values']).sort_values(by='% missing values',
                                                                                                 ascending=False)
missing

                                % missing values
REFUSED_AMT_DOWN_PAYMENT_MIN           85.234287
REFUSED_RATE_DOWN_PAYMENT_MIN          85.234287
REFUSED_RATE_DOWN_PAYMENT_MEAN         85.234287
REFUSED_AMT_DOWN_PAYMENT_MEAN          85.234287
REFUSED_RATE_DOWN_PAYMENT_MAX          85.234287
...                                          ...
ORGANIZATION_TYPE_Electricity           0.000000
ORGANIZATION_TYPE_Culture               0.000000
ORGANIZATION_TYPE_Construction          0.000000
ORGANIZATION_TYPE_Cleaning              0.000000
index                                   0.000000

[797 rows x 1 columns]

In [20]:
# Supprimer les variables avec plus de 40% de valeurs manquantes
data = cut_cols(data, 0.4)
data.shape

(356251, 552)

In [21]:
# Convertir des valeurs négative au positive
negative_col = []
for col in data.columns : 
    if data[col].max() <= 0.0:
        negative_col.append(col)
        
for col in negative_col:
    data[col] = data[col]*-1
    
data.describe()

C:\Users\faeze\AppData\Local\Temp\ipykernel_22728\3085872629.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col]*-1

,index,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_AMT_PAYMENT_MAX,INSTAL_AMT_PAYMENT_MEAN,INSTAL_AMT_PAYMENT_SUM,INSTAL_DAYS_ENTRY_PAYMENT_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MEAN,INSTAL_DAYS_ENTRY_PAYMENT_SUM,INSTAL_COUNT
count,356251.000000,307507.00000,356251.000000,356251.000000,356251.000000,356251.000000,3.562510e+05,3.562510e+05,356215.000000,3.559730e+05,...,3.395830e+05,3.395830e+05,3.395740e+05,3.395740e+05,3.395740e+05,3.395830e+05,339574.000000,339574.000000,339583.000000,339583.000000
mean,136052.869904,0.08073,0.660001,0.339699,0.306764,0.414312,1.701159e+05,5.877695e+05,27425.644390,5.280212e+05,...,1.861580e+04,6.831305e+05,5.282777e+03,1.400443e+05,1.900386e+04,6.904888e+05,328.436694,922.094466,42103.193758,40.064320
std,93841.582375,0.27242,0.473709,0.473608,0.461151,0.720376,2.235080e+05,3.986253e+05,14732.860946,3.660657e+05,...,2.346521e+04,8.933708e+05,1.449875e+04,2.496565e+05,2.523148e+04,9.308905e+05,537.370145,597.185115,56863.266298,41.053245
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,2.250000e-01,1.890000e-01,0.000000e+00,1.000000,3.000000,-0.000000,1.000000
25%,44532.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.125000e+05,2.700000e+05,16731.000000,2.340000e+05,...,7.897402e+03,1.366794e+05,4.153500e+01,1.439626e+04,7.582332e+03,1.332001e+05,26.000000,433.857143,6832.000000,12.000000
50%,129384.000000,0.00000,1.000000,0.000000,0.000000,0.000000,1.530000e+05,5.002110e+05,25078.500000,4.500000e+05,...,1.272620e+04,3.343932e+05,2.323575e+03,3.703547e+04,1.240411e+04,3.248012e+05,65.000000,806.565775,21233.000000,25.000000
75%,218447.500000,0.00000,1.000000,1.000000,1.000000,1.000000,2.025000e+05,7.975575e+05,34960.500000,6.750000e+05,...,2.164516e+04,8.577727e+05,7.158802e+03,1.350000e+05,2.164505e+04,8.497309e+05,387.000000,1312.048802,49852.500000,51.000000
max,307510.000000,1.00000,1.000000,1.000000,1.000000,20.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,...,2.504590e+06,3.247978e+07,2.504590e+06,3.771488e+06,2.504590e+06,3.268928e+07,3071.000000,3071.000000,602499.000000,372.000000

# 5 . Feature selection

- On va séléctionner les variables dans 3 étapes : 
     - garder les variables dont la variance est > 0.0005
     - garder les variables dont leur corrélation est <0.8
     - supprimer les variables qu'on estime pas nécessaire, comme les variables sur le numéro de téléphone

### Supprimer les variables avec varaince < 0.0005

In [22]:

sc = StandardScaler()

data2= data.drop(["TARGET"], axis= 1)
num_cols= data2.select_dtypes(include=[np.number]).columns

data_scaled= sc.fit_transform(pd.DataFrame(data2[num_cols]))

In [23]:
data_scaled = pd.DataFrame(data_scaled)
data_scaled.columns = data2[num_cols].columns

In [24]:
data_scaled.drop(['index'], axis= 1, inplace = True)

In [25]:
rel_var_df = pd.Series(data_scaled.std()).to_frame(name='rel_var_pct')
display(rel_var_df.sort_values('rel_var_pct'))

                                    rel_var_pct
BURO_CREDIT_ACTIVE_nan_MEAN            0.000000
BURO_CREDIT_CURRENCY_nan_MEAN          0.000000
PREV_NAME_YIELD_GROUP_nan_MEAN         0.000000
PREV_NAME_SELLER_INDUSTRY_nan_MEAN     0.000000
PREV_CHANNEL_TYPE_nan_MEAN             0.000000
...                                         ...
ACTIVE_DAYS_CREDIT_ENDDATE_MAX         1.000002
ACTIVE_AMT_CREDIT_SUM_DEBT_MEAN        1.000002
ACTIVE_AMT_CREDIT_SUM_DEBT_MAX         1.000002
CLOSED_AMT_CREDIT_SUM_LIMIT_MEAN       1.000002
ACTIVE_AMT_CREDIT_SUM_LIMIT_MEAN       1.000002

[550 rows x 1 columns]

In [26]:
low_var_cols = rel_var_df[rel_var_df['rel_var_pct']<0.0005].index
low_var_cols

Index(['BURO_CREDIT_ACTIVE_nan_MEAN', 'BURO_CREDIT_CURRENCY_nan_MEAN',
       'BURO_CREDIT_TYPE_nan_MEAN', 'PREV_NAME_CONTRACT_TYPE_nan_MEAN',
       'PREV_WEEKDAY_APPR_PROCESS_START_nan_MEAN',
       'PREV_FLAG_LAST_APPL_PER_CONTRACT_nan_MEAN',
       'PREV_NAME_CASH_LOAN_PURPOSE_nan_MEAN',
       'PREV_NAME_CONTRACT_STATUS_nan_MEAN', 'PREV_NAME_PAYMENT_TYPE_nan_MEAN',
       'PREV_CODE_REJECT_REASON_nan_MEAN', 'PREV_NAME_CLIENT_TYPE_nan_MEAN',
       'PREV_NAME_GOODS_CATEGORY_nan_MEAN', 'PREV_NAME_PORTFOLIO_nan_MEAN',
       'PREV_NAME_PRODUCT_TYPE_nan_MEAN', 'PREV_CHANNEL_TYPE_nan_MEAN',
       'PREV_NAME_SELLER_INDUSTRY_nan_MEAN', 'PREV_NAME_YIELD_GROUP_nan_MEAN',
       'POS_NAME_CONTRACT_STATUS_nan_MEAN'],
      dtype='object')

In [27]:
data3 = data.drop(low_var_cols, axis= 1)

In [28]:
# client_doc = ['FLAG_DOCUMENT_2','FLAG_DOCUMENT_4','FLAG_DOCUMENT_5','FLAG_DOCUMENT_6',
#'FLAG_DOCUMENT_7','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9','FLAG_DOCUMENT_10','FLAG_DOCUMENT_11','FLAG_DOCUMENT_12',
#'FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15','FLAG_DOCUMENT_16','FLAG_DOCUMENT_17','FLAG_DOCUMENT_18',
#'FLAG_DOCUMENT_19','FLAG_DOCUMENT_20','FLAG_DOCUMENT_21']

#building_normal_info_list = data.columns[data.columns.str.contains( '_MEDI|_AVG|_MODE')]

### Supprimer les variables non utiles pour la modélisation

In [29]:
phone_mobil = data.columns[data.columns.str.contains(
        '_PHONE|_MOBIL')]

In [30]:
data4= data3.drop(phone_mobil, axis= 1)

### Supprimer les variables avec la corrélation > 0.8

In [31]:
correlations = data4.corr()['TARGET'].sort_values()
correlations

EXT_SOURCE_3                                       -0.178926
EXT_SOURCE_2                                       -0.160471
BURO_DAYS_CREDIT_MEAN                              -0.089731
BURO_CREDIT_ACTIVE_Closed_MEAN                     -0.079369
DAYS_BIRTH                                         -0.078242
                                                      ...
BURO_DAYS_CREDIT_UPDATE_MEAN                        0.068929
BURO_CREDIT_ACTIVE_Active_MEAN                      0.077356
PREV_NAME_CONTRACT_STATUS_Refused_MEAN              0.077681
TARGET                                              1.000000
PREV_NAME_GOODS_CATEGORY_House Construction_MEAN         NaN
Name: TARGET, Length: 528, dtype: float64

In [32]:
def remove_corr_var(X, target_threshold, feature_threshhold):
    """
    Remove correlated features that have low correlation with target 
    and have high correlation with each other (keeping one)
    args: 
        X:
        target_threshold : 
        feature_threshhold : 
    return: 
    """    
    
    
    #removing all low correlated variables with target
    initial_feature = X.shape[1]
    X_corr_target = pd.DataFrame (X.corrwith(X["TARGET"]).abs().sort_values() , columns=["pearson"])   
    corr_feat_target = X_corr_target[(X_corr_target["pearson"] < target_threshold)].index
    X.drop (columns = corr_feat_target , axis=1 , inplace = True) 
    
    #removing all features with high correlation that exceed threshhold 
    corr = X.corr().abs()
    upper = corr.where(np.triu(np.ones(corr.shape),k=1).astype(np.bool)) #getting upper traingle of correlation matrix
    column = [col for col in upper.columns if any(upper[col] > feature_threshhold)] #getting all columns that have high correlation with one of the features
    print("There are %i features that have high correlation with another feature with threshold being kept as %.3f and above. We will remove all of this."\
        %(len(column), feature_threshhold))
    print("Removing.........")
    X.drop(column, axis=1, inplace=True)
    print("The features were changed from %i to %i. %i features were removed."%(initial_feature,X.shape[1],initial_feature-X.shape[1]))
    return X

In [33]:
# To remove correlated features
data5 = remove_corr_var(data4, 0.01, 0.8)

C:\Users\faeze\AppData\Local\Temp\ipykernel_22728\2438423474.py:21: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper = corr.where(np.triu(np.ones(corr.shape),k=1).astype(np.bool)) #getting upper traingle of correlation matrix

There are 84 features that have high correlation with another feature with threshold being kept as 0.800 and above. We will remove all of this.
Removing.........
The features were changed from 528 to 171. 357 features were removed.

In [34]:
data5

,TARGET,CODE_GENDER,FLAG_OWN_CAR,CNT_CHILDREN,AMT_CREDIT,AMT_ANNUITY,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE,INSTAL_DBD_MEAN,INSTAL_DBD_SUM,INSTAL_PAYMENT_DIFF_MAX,INSTAL_PAYMENT_DIFF_MEAN,INSTAL_PAYMENT_DIFF_SUM,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_DAYS_ENTRY_PAYMENT_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1.0,0,0,0,406597.5,24700.5,0.018801,9461,637.0,3648.0,...,2.0,20.421053,388.0,0.000,0.000000,0.000,11559.247105,219625.695,9251.775,5993.0
100003,0.0,1,0,0,1293502.5,35698.5,0.003541,16765,1188.0,1186.0,...,2.0,7.160000,179.0,0.000,0.000000,0.000,64754.586000,1618864.650,6662.970,34633.0
100004,0.0,0,1,0,135000.0,6750.0,0.010032,19046,225.0,4260.0,...,2.0,7.666667,23.0,0.000,0.000000,0.000,7096.155000,21288.465,5357.250,2285.0
100006,0.0,1,0,0,312682.5,29686.5,0.008019,19005,3039.0,9833.0,...,2.0,19.375000,310.0,0.000,0.000000,0.000,62947.088438,1007153.415,2482.920,4346.0
100007,0.0,0,0,0,513000.0,21865.5,0.028663,19932,3038.0,4311.0,...,2.0,4.590909,303.0,22655.655,452.384318,29857.365,12666.444545,835985.340,0.180,68128.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,NaN,1,0,0,412560.0,17473.5,0.002042,19970,5169.0,9094.0,...,2.0,7.333333,22.0,0.000,0.000000,0.000,91036.455000,273109.365,14222.430,1891.0
456222,NaN,1,0,2,622413.0,31909.5,0.035792,11186,1149.0,3015.0,...,1.0,6.000000,438.0,9680.490,314.714589,22974.165,8086.162192,590289.840,2.700,72468.0
456223,NaN,1,1,1,315000.0,33205.5,0.026392,15922,3037.0,2681.0,...,2.0,31.625000,253.0,0.000,0.000000,0.000,23158.991250,185271.930,12640.950,4691.0
456224,NaN,0,0,0,450000.0,25128.0,0.018850,13968,2731.0,1461.0,...,1.0,7.275862,211.0,0.000,0.000000,0.000,17269.234138,500807.790,5519.925,26824.0
456250,NaN,1,1,0,312768.0,24709.5,0.006629,13962,633.0,1072.0,...,2.0,8.600000,430.0,9000.000,193.079700,9653.985,13238.063100,661903.155,1.080,18288.0

# 6- Imputation des valeur manquantes

In [35]:
def imputation(df):
    #df.dropna(inplace=True)
    df.fillna(df.median(), inplace=True)
    return df

In [36]:
data6 = imputation(data5)

In [37]:
data6.shape

(356251, 171)

In [38]:
data_final = data6.copy()

In [39]:
data_final

,TARGET,CODE_GENDER,FLAG_OWN_CAR,CNT_CHILDREN,AMT_CREDIT,AMT_ANNUITY,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE,INSTAL_DBD_MEAN,INSTAL_DBD_SUM,INSTAL_PAYMENT_DIFF_MAX,INSTAL_PAYMENT_DIFF_MEAN,INSTAL_PAYMENT_DIFF_SUM,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_DAYS_ENTRY_PAYMENT_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1.0,0,0,0,406597.5,24700.5,0.018801,9461,637.0,3648.0,...,2.0,20.421053,388.0,0.000,0.000000,0.000,11559.247105,219625.695,9251.775,5993.0
100003,0.0,1,0,0,1293502.5,35698.5,0.003541,16765,1188.0,1186.0,...,2.0,7.160000,179.0,0.000,0.000000,0.000,64754.586000,1618864.650,6662.970,34633.0
100004,0.0,0,1,0,135000.0,6750.0,0.010032,19046,225.0,4260.0,...,2.0,7.666667,23.0,0.000,0.000000,0.000,7096.155000,21288.465,5357.250,2285.0
100006,0.0,1,0,0,312682.5,29686.5,0.008019,19005,3039.0,9833.0,...,2.0,19.375000,310.0,0.000,0.000000,0.000,62947.088438,1007153.415,2482.920,4346.0
100007,0.0,0,0,0,513000.0,21865.5,0.028663,19932,3038.0,4311.0,...,2.0,4.590909,303.0,22655.655,452.384318,29857.365,12666.444545,835985.340,0.180,68128.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456221,0.0,1,0,0,412560.0,17473.5,0.002042,19970,5169.0,9094.0,...,2.0,7.333333,22.0,0.000,0.000000,0.000,91036.455000,273109.365,14222.430,1891.0
456222,0.0,1,0,2,622413.0,31909.5,0.035792,11186,1149.0,3015.0,...,1.0,6.000000,438.0,9680.490,314.714589,22974.165,8086.162192,590289.840,2.700,72468.0
456223,0.0,1,1,1,315000.0,33205.5,0.026392,15922,3037.0,2681.0,...,2.0,31.625000,253.0,0.000,0.000000,0.000,23158.991250,185271.930,12640.950,4691.0
456224,0.0,0,0,0,450000.0,25128.0,0.018850,13968,2731.0,1461.0,...,1.0,7.275862,211.0,0.000,0.000000,0.000,17269.234138,500807.790,5519.925,26824.0
456250,0.0,1,1,0,312768.0,24709.5,0.006629,13962,633.0,1072.0,...,2.0,8.600000,430.0,9000.000,193.079700,9653.985,13238.063100,661903.155,1.080,18288.0

# 7.Exportation du le fichier final pour la modélisation

In [42]:
data_final.to_csv(r"C:\Users\faeze\OneDrive\Documents\OC data science\PROJECT\Projet 7\data_final.csv")
#appLication_test.to_csv(r"C:\Users\faeze\OneDrive\Documents\OC data science\PROJECT\Projet 7\app_test.csv")

In [41]:
# END